.tournament-grid {
    padding: 0 15px;
    display: flex;
    min-width: 710px;
    box-sizing: border-box;
}

.grid-container {
    width: 200px;
    display: flex;
    height: calc(100% - 82px);
}

.pair-container {
    background: #343434;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #0a0a0a;
    width: 100%;
    position: relative;
}

.pair-container:after {
    content: '';
    display: block;
    height: 79px;
    width: 10px;
    position: absolute;
    top: 29px;
    right: -15px;
    border-right: 1px solid #f7dba7;
    border-top: 1px solid #f7dba7;
}

.pair-container:nth-of-type(even):after {
    border-top: none;
    border-right: 1px solid #f7dba7;
    border-bottom: 1px solid #f7dba7;
    top: -49px;
}

.column-container:not(:first-of-type) .pair-container:before {
    content: '';
    display: block;
    height: 1px;
    width: 10px;
    background: #f7dba7;
    position: absolute;
    top: 29px;
    left: -15px;
}

.column-container:last-of-type .pair-container:after {
    display: none;
}

.top-player-container {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #1b1717;
}

.bottom-player-container {
    border-radius: 0 0 4px 4px;
}

.top-player-container,
.bottom-player-container {
    padding: 5px 30px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.match-result {
    position: absolute;
    right: 0;
    top: 0;
    background: #55a043;
    padding: 5px;
}

.match-order-header {
    background: #252525;
    margin-bottom: 30px;
    border: 1px solid #131313;
    box-shadow: 0px 0px 5px inset #131313;
}

.match-order-header h2 {
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
}

.pairs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
}

.column-container {
    margin-right: 30px;
}

.column-container:nth-last-child(2) .pair-container:after {
    border-right: none;
}

.column-container:last-of-type .pair-container:before {
    top: 14px;
}

.column-container:last-of-type .pair-container > div {
    border-radius: 4px;
}