.top-bar {
    background: #343434;
    font-family: 'Lobster', cursive;
    color: rgb(247, 219, 167);
    min-height: 40px;
    padding-left: 25px;
    padding-top: 4px;
    margin-bottom: 46px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
}

.top-bar h2 {
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
}