.top-bar {
    background: #343434;
    font-family: 'Lobster', cursive;
    color: rgb(247, 219, 167);
    min-height: 40px;
    padding-left: 15px;
    padding-top: 4px;
    margin-bottom: 46px;
    box-sizing: border-box;
    min-width: 710px;
}

.top-bar h2 {
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
}