.sidebar-header {
    border-bottom: 1px solid #191818;
}

.sidebar-header h3 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin: 0;
    padding: 0 0 7px 10px;
    border-bottom: 1px solid #0e0e0e;
}

.game-type-container {
    background: #343434;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.image {
    background: url(./img/tank.png);
    width: 40px;
    height: 33px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    display: inline-block;
    background-size: cover;
}